@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,600&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-image: -o-linear-gradient(315deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 10px;
    line-height: 1.1;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    margin-bottom: 0;
    -webkit-animation: comeinleft 0.5s ease forwards;
            animation: comeinleft 0.5s ease forwards;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 200;
}

p {
    color: hsl(0, 36%, 70%);
    line-height: 26px;
    margin: 30px 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-animation: comeinright 0.5s ease forwards;
            animation: comeinright 0.5s ease forwards;
    opacity: 0;
}

form {
    position: relative;
 
}

input {

    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    padding: 15px 30px;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
    height: 55px;

}
input:focus {
    -webkit-box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
            box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
    outline: none;
    border-width: 2px;
} 

input::-webkit-input-placeholder {
    color: hsl(0, 36%, 70%);
} 

input::-moz-placeholder {
    color: hsl(0, 36%, 70%);
} 

input:-ms-input-placeholder {
    color: hsl(0, 36%, 70%);
} 

input::-ms-input-placeholder {
    color: hsl(0, 36%, 70%);
} 

input::placeholder {
    color: hsl(0, 36%, 70%);
}

form.error input {
	border: 2px solid hsl(0, 93%, 68%);
}

button {
    background-image: -o-linear-gradient(315deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    -webkit-box-shadow: 2px 5px 10px hsl(0, 36%, 70%, 0.5);
            box-shadow: 2px 5px 10px hsl(0, 36%, 70%, 0.5);
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 0.6;
}

.error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
  
}
form.error .error-icon {
    display: block;
}

small {
    margin-top: 15px;
    margin-left: 30px;
    display: none;
    color: hsl(0, 93%, 68%);

}

form.error small {
    display: block;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.left {
    width: 60%;
    padding: 0 40px 40px;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: center center;
}

.inner-container {
    max-width: 450px;
    margin: auto;
}

.right{
    width: 40%;
}

.bg-image {
    background-image: url('../images/hero-desktop.jpg');
    background-size: cover;
    background-position: center center;
}
.logo {
    margin: 60px 0px;
    width: 200px;
}
.bg-mobile {
    display: none;
}


@-webkit-keyframes comeinleft {
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}


@keyframes comeinleft {
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@-webkit-keyframes comeinright {
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes comeinright {
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}


@media screen and (max-width: 600px) {
    .left {
        width: 100%;
    }
    .right  {
        display: none;
    }
    .bg-mobile {
        display: block;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
    }
    h1 {
        font-size: 40px;
    }
    .logo {
        margin: 30px 0px;
        width: 100px;
    }
}